/*--------------------------------------------------------------------
    ___  _______   ________   ________      
   |\  \|\  ___ \ |\   ___  \|\   ___  \    
   \ \  \ \   __/|\ \  \\ \  \ \  \\ \  \   
 __ \ \  \ \  \_|/_\ \  \\ \  \ \  \\ \  \  
|\  \\_\  \ \  \_|\ \ \  \\ \  \ \  \\ \  \ 
\ \________\ \_______\ \__\\ \__\ \__\\ \__\
 \|________|\|_______|\|__| \|__|\|__| \|__|
 
 Coded by 😎 @renrutnnej 😎
--------------------------------------------------------------------*/

#landing {
  margin: 0px;
  padding: 0px;	
  background-color: #000000;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Abril Fatface', cursive;
  color: #FFFFFF;
}

@font-face {
    font-family: 'Abril Fatface';    
}

html {
  font-family: 'Abril Fatface', cursive;
}

a:link {
  color: #FFFFFF; 
  text-decoration: none; 
}

a:active {
  color: #FFFFFF; 
  text-decoration: none; 
}

a:visited {
 color: #FFFFFF; 
 text-decoration: none; 
}

a:hover {
  color: #C12283; 
  text-decoration: none; 
}

p {    
  margin: 25px;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px%;
}

h1 {
	margin-top: 0px;
    margin-bottom: 0px;
	font-family: 'Abril Fatface', cursive; 
	font-weight: 400;
	font-size: 40px;
	text-align: right;
}

ul {
	padding: 0;
  	margin: 0;
  	list-style: none;
  
  	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
}

.main-content {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Abril Fatface', cursive;
    color: #FFFFFF;
    align: right;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}

.flex-item {
    width: 400px;
    margin: 20px;
}
