/*--------------------------------------------------------------------
    ___  _______   ________   ________      
   |\  \|\  ___ \ |\   ___  \|\   ___  \    
   \ \  \ \   __/|\ \  \\ \  \ \  \\ \  \   
 __ \ \  \ \  \_|/_\ \  \\ \  \ \  \\ \  \  
|\  \\_\  \ \  \_|\ \ \  \\ \  \ \  \\ \  \ 
\ \________\ \_______\ \__\\ \__\ \__\\ \__\
 \|________|\|_______|\|__| \|__|\|__| \|__|
 
 Coded by 😎 @renrutnnej 😎
--------------------------------------------------------------------*/

@font-face {
    font-family:'Cooper Std Black';
    src: url('CooperBlackStd.eot');
	src: url('CooperBlackStd.eot?#iefix') format('embedded-opentype'),
		url('CooperBlackStd.woff2') format('woff2'),
		url('CooperBlackStd.woff') format('woff'),
		url('CooperBlackStd.svg#CooperBlackStd') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family:'Cooper Hewitt';
    src: url('t Medium.eot');
	src: url('t Medium.eot?#iefix') format('embedded-opentype'),
		url('t Medium.woff2') format('woff2'),
		url('t Medium.woff') format('woff'),
		url('t Medium.svg#t Medium') format('svg');
    font-weight: 707;
    font-style: normal;
    font-stretch: normal;
}

@font-face{ 
	font-family: 'PT Sans', sans-serif;
}

a:link {
  color: #CC00FF;
  text-decoration: none; 
}

a:active {
  color: #FFFFFF;
  text-decoration: none; 
}

a:visited {
 color: #CC00FF;
 text-decoration: none; 
}

a:hover {
  color: #CC00FF; 
  text-decoration: none; 
}

body {
    background-color: #000000;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Cooper Std Black'; 
    font-weight: 900;
    font-size: 40px;
    text-align: left;
    color: #FFFFFF;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Cooper Hewitt'; 
    font-weight: 400;
    font-size: 40px;
    text-align: left;
    color: #FFFFFF;
}

p {    
  margin: 25px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px%;
  color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 50px;
    text-decoration: none;
}

div.fixed {
    position: absolute;
    padding: 30px;
    left: 0px;
    top: 0px;
    width: 300px;
}

div.intro {
    margin: 50px;
    margin-top: 200px;
    padding: 50px;
    border: 5px solid #FFFFFF;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 1200px;
    height: 400px;
}

.flex-item left {
    width: 600px;
    height: 100px;
    margin: 10px;
}

.flex-item right {
    width: 600px;
    height: 400px;
    margin: 10px;
}
