/*--------------------------------------------------------------------
    ___  _______   ________   ________      
   |\  \|\  ___ \ |\   ___  \|\   ___  \    
   \ \  \ \   __/|\ \  \\ \  \ \  \\ \  \   
 __ \ \  \ \  \_|/_\ \  \\ \  \ \  \\ \  \  
|\  \\_\  \ \  \_|\ \ \  \\ \  \ \  \\ \  \ 
\ \________\ \_______\ \__\\ \__\ \__\\ \__\
 \|________|\|_______|\|__| \|__|\|__| \|__|
 
 Coded by 😎 @renrutnnej 😎
--------------------------------------------------------------------*/

@font-face {
    font-family: 'Pacifico';
    font-family: 'Raleway';
    font-family: 'Open Sans';    
}

html {
  	font-family: 'Pacifico', normal;
  	font-family: 'Raleway', sans-serif;
  	font-family: 'Open Sans', sans-serif;
}

a {
  	color: #CCCCCC; 
  	text-decoration: none; 
}

a:active {
  	color: #CCCCCC; 
  	text-decoration: none; 
}

a:visited {
 	color: #CCCCCC; 
 	text-decoration: none; 
}

a:hover {
  	color: #FF6600; 
  	text-decoration: none; 
}

p {
	margin: 25px;
  	font-family: 'Open Sans', sans-serif;
  	font-size: 20px%
}

h1 {
	margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
	font-family: 'Pacifico', normal; 
	font-weight: 400;
	font-size: 75px;
	text-align: center;
}

h2 {
	margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
	font-family: 'Raleway', sans-serif; 
	font-weight: 400;
	font-size: 35px;
	text-align: center;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: none;
  padding: 0px;
  width: 350px;
  height: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 24px;
  text-align: left;
}

#clients {
	margin: 0px;
	padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 24px;
}
